* {
    margin: 0;
    padding: 0;
}

body {
    background: #f5ede6;
    font-family: 'Roboto';
    min-height: 100vh;
    position: relative;
}

#container {
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    
}

#topo {
    height: 200px;
    background: rgb(39, 0, 114) url(../Imagens/logo.jpeg) no-repeat center top;
    padding-top: 30px;
}

.logo {
    font-family: Georgia, serif;
    text-indent: -9000px;

}

#content {
    margin-top: 5em;
}

/* BARRA DE NAVEGCAO */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 3;
}

#topo ul {
    background: #eb8634;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#topo ul a {
    text-decoration: none;
    font-size: 1em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    color: rgb(39, 0, 114);

}

topo ul .primeiro a {
    border: none;
}

#topo ul a:hover {
    color: rgb(39, 0, 114);
    background-color: #ffa357;
}

#navegacao a {
    font-size: 1.2em;
    padding: 0.5em 2em;
    line-height: 2.1em;
}

#topo ul li {
    margin-right: 3em;
    text-transform: uppercase;
}

.cta {
    background-color: #eb8634;
    color: rgb(39, 0, 114);
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: 1.2em;
    float:right;
    margin: 5px;
    font-style: oblique;
    border-radius: 1px;
    transform: translateY(-30px);
}


body.home #navegacao a#home,
body.buffet #navegacao a#buffet,
body.cadastro #navegacao a#cadastro,
body.contato #navegacao a#contato {
    color: rgb(39,0 ,114);
    background-color: #ffb171;
    cursor: text;
}


#conteudo {
    margin-top: 80px;
    background: rgb(39,0,114);
}

#primario {
    width: 350px;
    background: rgb(145, 100, 205);
    float: left;
    margin: 0px 25px 20px 0px;
    border-radius: 5px;
}

#secundario {
    width: 350px;
    background: rgb(145, 100, 205);;
    float: left;
    margin: 0px 25px 20px 0px;
    border-radius: 5px;
}

#terceario {
    width: 350px;
    background: rgb(145, 100, 205);;
    float: left;
    margin: 0px 25px 20px 0px;
    border-radius: 5px;
}

#container-rodape {
    margin-top: 1em;
    background: #eb8634;
    padding: 20px;
}

#rodape {
    color: rgb(39, 0, 114);
    text-align: center;
    padding: 0;
}

.centralizar {
    margin-left: 20%;
}

/*=========================================================================*/
/*FORMULÁRIO */

.titulo h1 {
    border-bottom: 1px solid #ff7300;
    padding: 10px;
    text-align: center;
    margin: 10px;
    color: #ff7300;
    text-transform: uppercase;
    font-weight: bold;
}


form {
    margin: 50px auto;
}

fieldset {
    width: 60%;
    padding: 1em;
    border: 1px solid #eb8634;
    background: #ffe7d3;
    margin: 1em auto;
}

legend {
    color: #ff7300;
    text-transform: uppercase;
}

label {
    display: block;
    cursor: pointer;
}

input {
    width: 20em;
    height: 2em;
    border-radius: 5px;
    border: 1px solid #ff7300;
}

.data-hora {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.data-hora label {
    font-weight: bold;
    margin-bottom: 10px;
    color: #ff7300;
    text-align: center;
}


.data-hora input {
    width: 50%;
    padding: 10px;
    margin: auto;
    background-color: #fff8f2;
}


.pacote {
    margin-bottom: 10px;
    text-align: center;
    color: #ff7300;
}

.pacote label {
    font-weight: bold;
    margin-bottom: 10px;
}

.pacote select {
    width: 50%;
    padding: 10px;
    border: 1px solid #ff7300;
    border-radius: 5px;
    background-color: #fff8f2;
    margin-bottom: 10px;
}

.convidados {
    margin-bottom: 10px;
    text-align: center;
    color: #ff7300;
}

.convidados label {
    font-weight: bold;
    margin-bottom: 10px;
}

.convidados input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ff7300;
    background-color: #fff8f2;
}

.aniversariante {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: center;
    color: #ff7300;
}

.aniversariante label {
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
}

.aniversariante input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ff7300;
    background-color: #fff8f2;
}

input[type="submit"] {
    width: 25%;
    margin: 20px auto;
    height: 3em;
    border: 1px solid #ff7300;
    background-color: #ff7300;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

/*================== ALTERANDO SEARCH CONTAINER ====================*/
.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}
.btn-primary {
    background-color: #eb8634;
    border: 1px solid #eb8634;
}

.btn-primary:hover {
    background-color: #ff7300;
    border-color: #ff7300;
}

/*
#search-container {
    background-image: url(../Imagens/baloes.avif);
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-conteiner h1 {
    color: #ff7300;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-conteiner form {
    width: 50%;
    margin: 0 auto;
}
*/
/* ========== LISTA DE EVENTOS =============*/

#events-container {
    padding: 50px;
}

#events-container h2 {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #ff7300;
}

#events-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
    border-bottom: 1px solid #ff7300 ;
}

#cards-container {
    display: flex;
}

#cards-container .card {
    flex: 1 1 0;
    max-width: 15%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
}

#events-container img {
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.card .card-date {
    font-size: 12px;
    color: #f5ede6;
}

.card .card-date {
    font-size: 12px;
    color: #717171;
}

.card .card-nome {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-participants {
    font-size: 14px;
    color: #757575;
}

